extends ./layout

include ./mixins/film

block content
  if filmAdded
    div.alert.alert-success(role='alert') La película ha sido creada!

  form.form-signin.text-center.col-sm-6.offset-sm-3(action='/admin/upload', method='post', enctype='multipart/form-data')
    input.form-control(type='file', name='fileInput')
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Send

  h1 Your uploads:
  .card-group
    ul
      each file in files
        li #{file}
