extends ./layout

block content
  if fileAdded
    div.alert.alert-success(role='alert') The file has been uploaded!

  form.form-signin.text-center.col-sm-6.offset-sm-3(action='/files/upload', method='post', enctype='multipart/form-data')
    input.form-control(type='file', name='fileInput')
    button.btn.btn-lg.btn-primary.btn-block(type='submit') Send

  h1 Your uploads:
  .card-group
    ul
      each file in files
        li #{file}
